@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'poppins';
    font-size: var(--h-font-size);
}
p{
    font-family: 'poppins';
    font-size: var(--p-font-size);
}
main {
    display: flex;
    height: 100%;
    flex-direction: column;
}

:root {
    --bg-color: #000000;
    --primary-text-color: #ffffff;
    --h-font-size: 18px;
    --p-font-size: 15px;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.header-sect {
    padding: 20px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.header button {
    font-size: 16px;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(253, 253, 249);
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 12px 30px 13px 30px;
    border-radius: 20px;
}

/* hero sect */
.hero-sect {
    padding: 10px 0 20px 0;
    display: flex;
    background-color: rgb(78, 77, 77);
    flex-grow: 1;
}

.hero-sect .box.hover-over {
    scale: 1.05;
    border: 1px dashed white;
}

.head-top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.box {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #242323;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.task {
    cursor: pointer;
    margin: 20px 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 71, 71);
}

.task button {
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(255, 78, 78);
    border: 2px solid rgb(255, 99, 78);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    align-self: flex-end;
}



/* add new button */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 99; /* Ensure it's above other content */
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100; /* Ensure it's above the overlay */
    background-color: rgb(73, 71, 71);
}
#closePopupBtn{
    display: flex;
    float: right;
    margin: 0px 0 10px 0;
    font-size: 18px;
    font-weight: 800;
}
button#closePopupBtn{
    border: 0px;
    padding: 2px 10px 5px 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 99, 78);
}
.popup-header input{
    font-size: 18px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(73, 71, 71);
}
input:focus {
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
textarea#discription {
    font-size: 15px;
    padding: 3px 60px 60px 5px;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid rgb(73, 71, 71);
}
.popup-body button {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(93, 255, 78);
    border: 2px solid rgb(20, 231, 66);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}